{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1-5">
      <nav class="pure-menu pure-menu-open" id="feeds">
        <a class="pure-menu-heading" href="#">Feeds</a>
        <ul>
          <li><a href="#">Techcrunch</a></li>
          <li><a href="#">HN</a></li>
          <li><a href="#">Slashdot</a></li>
          <li><a href="#">Other</a></li>
        </ul>
      </nav>
    </div>
    
    <div class="pure-u-4-5">
      <div id="controls">
        <p>CONTROLS</p>
      </div>
      <div id="articles">
        <p>ARTICLES</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script type="text/template" id="#feed-list"></script>
  <script type="text/template" id="#article-list"></script>

  <script src="{% static 'js/models/feed.js' %}"></script>
  <script src="{% static 'js/models/article.js' %}"></script>
  <script src="{% static 'js/collections/articles.js' %}"></script>
  <script src="{% static 'js/collections/feeds.js' %}"></script>
  <script src="{% static 'js/views/feeds.js' %}"></script>
  <script src="{% static 'js/views/articles.js' %}"></script>
  <script src="{% static 'js/routers/router.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
{% endblock %}
